body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 575px;
    height: 385px;
    background: #1B244A;
    border-radius: 0px;
    margin: auto;
    margin-top: 150px;

}

#board-title1 {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 85px;
    margin-top: 68px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

#board-title2 {
    position: absolute;
    width: 149px;
    height: 36px;
    left: 340px;
    margin-top: 68px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
}

#homescreen-el {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 82px;
    margin-top: 125px;
    background: #080001;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    text-align: center;
}

#homescreen-el2 {
    position: absolute;
    width: 155px;
    height: 120px;
    left: 340px;
    margin-top: 125px;
    background: #080001;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    color: #F94F6D;
    text-align: center;
}

@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

#increment1-btn1 {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 82px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}

#increment2-btn1 {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 136px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}

#increment3-btn1 {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 192px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}

#increment1-btn2 {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 337px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}

#increment2-btn2 {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 391px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}

#increment3-btn2 {
    box-sizing: border-box;
    position: absolute;
    width: 45px;
    height: 45px;
    left: 447px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}

#newgame-btn {
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    height: 45px;
    left: 212.5px;
    top: 325px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
}